<div class="container">
			<form autocomplete="off"
				enctype="multipart/form-data">
				<div class="row">
					<div class="col-md-12">
						<h3>Merge PDF you want
						</h3>
					</div>
					<br /> <br /><br /> <br />	

					<div class="row ng-cloak" data-ng-if="mergeUploadErrorMessage">
				      <div class="col-lg-12">
				          <div class="alert alert-danger">
				            <span>{{mergeUploadErrorMessage}}</span>
				          </div>
				      </div>
				  	</div>
				  	
				  	<div class="row ng-cloak" data-ng-if="successStatusMessage">
				      <div class="col-lg-12">
				          <div class="alert alert-success">
				            <span>{{successStatusMessage}}</span>
				          </div>
				      </div>
				  	</div>

					<div class="col-md-12">
						<div class="col-md-2">First File to merge: </div>
						<div class="col-md-10">
						<input  type="file" onchange="angular.element(this).scope().onFileSelect(this);" id="uploadFileToMerge1"  />
						</div>
					</div><br /><br />
					<div class="col-md-12">
						<div class="col-md-2">Second File to merge: </div>
						<div class="col-md-10">
							<input  type="file" onchange="angular.element(this).scope().onFileSelect(this);" id="uploadFileToMerge2"  />
						</div>
					</div><br /><br />
					<div class="col-md-12">
						<div class="col-md-2">Third File to merge: </div>
						<div class="col-md-10">
							<input  type="file" onchange="angular.element(this).scope().onFileSelect(this);" id="uploadFileToMerge3"  />
						</div>
					</div><br /><br />
				</div>
				
				<div class="row">
					<div class="col-md-2"> </div>
					<div class="col-md-10">
						<button class="btn btn-default" value="Merge" 
						data-ng-click="merge();">
							Merge
						</button>
					</div>
				</div>

				
			</form>
	</div>